annotated-types==0.5.0
apscheduler
beautifulsoup4==4.11.1
certifi==2023.5.7
charset-normalizer==2.1.1
greenlet==2.0.2
idna==3.4
mysql-connector-python==8.0.30
numpy==1.25.0
pandas==2.0.3
protobuf==3.20.1
pydantic==2.1.1
pydantic_core==2.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pymysql==1.0.2
requests==2.28.1
selenium==4.5.0
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==1.4.40
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.26.16